<h4 class="ui horizontal header divider">
  <a href="#">Case All Posts</a>
</h4>
<% @posts.sort.each do |post| %>
<div class="">
  <div class="ui text container segment">
    <a class="ui blue ribbon label">Post</a>
    <h3 class="ui header" style="text-align: center">
      <%= post.title %>
    </h3>
    <p style="text-align: center">
      <%= post.body %>
    </p>
    <div style="display: flex;justify-content: space-between">
      <a class="ui large button" href="/posts/<%= post.id %>">Read More</a>
      <div class="ui labeled button" tabindex="0">
        <div class="ui basic blue button">
          <i class="eye icon"></i> Watch
        </div>
        <a class="ui basic left pointing blue label">
          <%= post.show %>
        </a>
      </div>
    </div>
  </div>
</div>
    <br>
<% end %>

