<h4 class="ui horizontal header divider">
  <a href="#">Case All Posts</a>
</h4>
<% @posts.each do |post| %>
<div class="">
  <div class="ui text container segment">
    <a class="ui blue ribbon label">Post</a>
    <h3 class="ui header" style="text-align: center">
      <%= post.title %>
    </h3>
    <p style="text-align: center">
      <%= post.body %>
    </p>
    <a class="ui large button" href="/posts/<%= post.id %>">Read More</a>
  </div>
</div>
    <br>
<% end %>

